# Node.js dependencies
node_modules/
**/node_modules/

# Build output
dist/
build/

# Logs
*.log
logs/

# Environment variables
.env
.env.*

# npm package lock
package-lock.json

# Yarn lock
yarn.lock

# VSCode settings
.vscode/

# MacOS Finder settings
.DS_Store

# Windows Explorer settings
Thumbs.db

# Temporary files
*.tmp
*.swp
*.swo
*.bak
*.pid

# Other IDEs
.idea/
*.sublime-workspace
*.sublime-project

# Dependency directories
backend/node_modules/
frontend/node_modules/

# Build directories for frontend/backend
backend/dist/
frontend/dist/
backend/build/
frontend/build/

.history/

pending.txt